---
import CardCommentaireCoach from "../../components/CardCommentaireCoach.astro";
import ImgPb from "../../components/ImgPb.astro";
import ProgressBar from "../../components/Progress_bar.astro";
import Layout from "../../layouts/Layout.astro";
import type { CommentairesCoachResponse, FicheCoachResponse, UsersResponse } from "../../pocketbase-types";

type Props = {
    id: string,
}
const { id } = Astro.params as { id: string };

const coach = await Astro.locals.pb.collection("users").getOne<UsersResponse>(id);

const commentaires = await Astro.locals.pb.collection("Commentaires_coach").getFullList<CommentairesCoachResponse>({
    filter: `coach = "${coach.id}"`,
    expand: "user"
});
const ficheCoach = await Astro.locals.pb.collection("Fiche_coach").getFullList<FicheCoachResponse>({
    filter: `user = "${coach.id}"`
});
const fiche = ficheCoach[0];
const moyenne = commentaires.length > 0
    ? (Math.round((commentaires.reduce((sum, r) => sum + Number(r.note), 0) / commentaires.length) * 10)) / 10
    : 0;
const nb_com = commentaires.length;

if (Astro.request.method === "POST") 
{
    const data = await Astro.request.formData();
    try 
    {
        const note = Number(data.get("note"));
        const contenu = data.get("contenu") as string;
        const user = Astro.locals.pb.authStore.record?.id;

        if (user) {
            await Astro.locals.pb.collection("Commentaires_coach").create({
                note,
                contenu,
                user,
                coach: id,
            });

            return Astro.redirect(`${Astro.url.pathname}#commentaires`, 303);
        }
    } catch (e) {
        if (e instanceof Error) 
        {
            console.error(e.message);
        }
    }
}
---
<Layout titre={`Coach ${coach.name}`} color="vert">
    <main class="mx-auto max-w-6xl *:my-6 md:*:my-8">
        <section class="justify-items-end place-self-center grid w-11/12 md:w-9/10 mx-auto">
            <ImgPb
                record={coach}
                image={coach.avatar}
                alt={`avatar de ${coach.name || coach.pseudo}`}
                classPicture="w-full h-full mx-auto"
                classImg="w-full h-[250px] md:h-[360px] object-cover rounded-xl"
            />
        </section>

        <section class="bg-vert border border-bleu rounded-xl p-3.5 md:p-5 w-11/12 md:w-9/10 mx-auto">
            <div class="flex flex-col md:flex-row md:justify-between md:place-items-center gap-4">
                <div class="flex flex-col">    
                    <p class="font-rampart text-2xl text-bleu">{ coach.surname } { coach.name }</p>
                    <p class="text-base">@{ coach.pseudo }</p>
                    <p class="text-sm md:text-base">Spécialisation: <span class="font-bold text-bleu underline">{ coach.specialisation }</span></p>
                </div>
                <div class="flex flex-col md:w-fit md:place-items-center gap-2">
                    <p class="font-bold">{ nb_com } avis</p>
                    <div class="flex place-items-center justify-center md:w-full gap-1.5">
                        <ProgressBar note={moyenne} color="vert"/>
                        <p class="font-bold text-bleu">{ moyenne }/5</p>
                    </div>
                </div>
            </div>
            <p class="mt-3.5 md:mt-5">{coach.description}</p>
        </section>
        <a
            href={fiche.lien}
            target="_blank"
            rel="noreferrer"
            class="block w-fit font-comforta font-bold bg-bleu text-vert mx-auto p-2.5 rounded-full border hover:bg-vert hover:text-bleu transition-all duration-100"
        >
            Prendre rendez vous
        </a>

        <section id="commentaires">
            <h2 class="w-11/12 md:w-9/10 mx-auto">Commentaires</h2>
            <div class="w-11/12 md:w-9/10 mx-auto *:my-5 md:grid md:grid-cols-2 md:gap-4 md:*:my-0">
                {
                    commentaires.map((com) => (
                    <CardCommentaireCoach com={com} />
                    ))
                }
            </div>
        </section>
        <section>
            {Astro.locals.pb.authStore.isValid ? (
                <h2 class="w-11/12 md:w-9/10 mx-auto">Poster un commentaire</h2>
                <form method="POST" action={Astro.url.pathname} class="flex flex-col *:my-1.5 w-11/12 md:w-9/10 mx-auto">
                    <label>
                        <div class="flex place-items-center gap-2 text-bleu bg-vert p-1.5 w-fit border border-beige rounded-xl">
                            <span>Note</span>
                            <input
                                type="number"
                                name="note"
                                max="5"
                                min="0"
                                class="bg-vert text-bleu border font-comforta font-bold p-1.5 rounded-md"
                                required
                            />
                            <p class="font-bold text-xl">/5</p>
                        </div>
                    </label>
                        <textarea 
                            name="contenu"
                            rows="7"
                            class="bg-vert border-4 rounded-xl border-beige font-comforta p-2"
                            required
                        />
                    <button 
                        class="bg-bleu text-vert text-xl font-bold font-comforta w-fit py-3 px-5 border rounded-xl mx-auto cursor-pointer hover:bg-vert hover:text-bleu transition duration-100"
                    >
                        Envoyer
                    </button>
                </form>
            ) : (
                <p>Il est nécéssaire de vous <a href="">connecter</a> pour poster un commentaire</p>
            )}
        </section>
    </main>
</Layout>