---
export const prerender = false
import CardCommentaireCoach from "../../components/CardCommentaireCoach.astro";
import ImgPb from "../../components/ImgPb.astro";
import ProgressBar from "../../components/Progress_bar.astro";
import Layout from "../../layouts/Layout.astro";
import type { CommentairesCoachResponse, FicheCoachResponse, UsersResponse } from "../../pocketbase-types";

type Props = {
    id: string,
}
const { id } = Astro.params as { id: string };

const coach = await Astro.locals.pb.collection("users").getOne<UsersResponse>(id);

const commentaires = await Astro.locals.pb.collection("Commentaires_coach").getFullList<CommentairesCoachResponse>({
    filter: `coach = "${coach.id}"`,
    expand: "user"
});
const ficheCoach = await Astro.locals.pb.collection("Fiche_coach").getFullList<FicheCoachResponse>({
    filter: `user = "${coach.id}"`
});
const fiche = ficheCoach[0];
const moyenne = commentaires.length > 0
    ? (Math.round((commentaires.reduce((sum, r) => sum + Number(r.note), 0) / commentaires.length) * 10)) / 10
    : 0;
const nb_com = commentaires.length;

if (Astro.request.method === "POST") 
{
    const data = await Astro.request.formData();
    try 
    {
        const note = Number(data.get("note"));
        const contenu = data.get("contenu") as string;
        const user = Astro.locals.pb.authStore.record?.id;

        if (user) {
            await Astro.locals.pb.collection("Commentaires_coach").create({
                note,
                contenu,
                user,
                coach: id,
            });

            return Astro.redirect(`${Astro.url.pathname}#commentaires`, 303);
        }
    } catch (e) {
        if (e instanceof Error) 
        {
            console.error(e.message);
        }
    }
}
---
<Layout titre={`Coach ${coach.name}`} color="vert">
    <main class="mt-12 *:my-8">
        <div class="flex bg-vert border border-beige rounded-xl w-9/10 mx-auto p-2 place-items-center justify-around">
            <div class="h-42 w-auto">
                <ImgPb
                    record={coach}
                    image={coach.avatar}
                    alt={`avatar de ${coach.name || coach.pseudo}`}
                    classPicture="w-full h-full"
                    classImg="w-full h-full object-cover rounded-full"
                />
            </div>
            <div class="flex flex-col h-fit justify-around">    
                <p class="font-rampart text-2xl text-bleu">{ coach.surname } { coach.name }</p>
                <p class="text-base">@{ coach.pseudo }</p>
                <p class="text-center ">Spécialisation: <span class="font-bold text-bleu underline">{ coach.specialisation }</span></p>
            </div>
        </div>

        <div class="bg-vert h-full flex flex-col justify-around rounded-[10px] border border-beige overflow-auto p-2 w-9/10 mx-auto *:flex-1 *:my-3">
            <div class="flex w-9/10 mx-auto justify-around">
                <p>{ nb_com } avis</p>
                <div class="flex place-items-center justify-around *:mx-1.5 w-5/10">
                    <ProgressBar note={moyenne} color="vert"/>
                    <p>{ moyenne }/5</p>
                </div>
            </div>
            <p>{coach.description}</p>
        </div>
        <a
            href={fiche.lien}
            target="_blank"
            rel="noreferrer"
            class="block w-fit font-comforta font-bold bg-bleu text-vert mx-auto p-2.5 rounded-full border hover:bg-vert hover:text-bleu transition-all duration-100"
        >
            Prendre rendez vous
        </a>

        <div class="">
            <h2>Commentaires</h2>
            {commentaires.length === 0 ? (
                <p class="bg-vert text-bleu border-2 rounded-xl mx-auto mb-12 p-1 text-center w-9/10">
                    Aucun commentaires
                </p>
            ):(
                <ul>
                {commentaires.map((com) => (
                    <li><CardCommentaireCoach com={com}/></li>
                ))}
            </ul>
            )}
            
        </div>
        <div class="">
            {Astro.locals.pb.authStore.isValid ? (
                <h2 class="w-9/10 mx-auto">Poster un commentaire</h2>
                <form method="POST" action={Astro.url.pathname} class="flex flex-col *:my-1.5 w-9/10 mx-auto">
                    <label>
                        <span>Note</span>
                        <input 
                            type="number"
                            name="note"
                            max="5"
                            min="0"
                            class="bg-vert border text-bleu font-comforta p-1.5 rounded-md"
                            required
                        />
                    </label>
                        <textarea 
                            name="contenu"
                            rows="5"
                            class="bg-vert border-4 rounded-xl border-bleu font-comforta p-2"
                            required
                        />
                    <button 
                        class="bg-vert text-bleu border text-xl font-bold font-comforta w-fit py-3 px-5 rounded-xl mx-auto cursor-pointer hover:bg-bleu hover:text-vert transition duration-100"
                    >
                        Envoyer
                    </button>
                </form>
            ) : (
                <p>Il est nécéssaire de vous <a href="">connecter</a> pour poster un commentaire</p>
            )}
        </div>
    <!-- </div> -->
</main>
</Layout>