---
import { formatHeure, checkHeure } from "../utils/helper";
import type { RecettesResponse } from '../pocketbase-types'
import { TpsTotal } from "../utils/helper";
import Button from './Button.astro';
import ProgressBar from './Progress_bar.astro';
import ImgPb from './ImgPb.astro';
import Heart from "../assets/heart.svg";

type Props= {
    recette: RecettesResponse
}
const recette = Astro.props.recette;

const tps = TpsTotal(recette.temps_cuisson, recette.temps_prep);
const commentaires = await Astro.locals.pb.collection("Commentaires").getFullList({
    filter: `recette = "${recette.id}"`
});
const moyenne = commentaires.length > 0
    ? (Math.round((commentaires.reduce((sum, r) => sum + r.note, 0) / commentaires.length) * 10)) / 10
    : 0;
const nb_com = commentaires.length;
const userId = Astro.locals.pb.authStore.record?.id;
const isFavorite = userId
    ? (await Astro.locals.pb.collection("Favori").getList(1, 1, {
        filter: `user = "${userId}" && recette = "${recette.id}"`
    })).items.length > 0
    : false;

---
<a href=`/recettes/${recette.id}`
    class="bg-beige w-100 h-full grid grid-cols-2 rounded-[10px] border border-bleu overflow-auto"
>
    <div class="m-1.5 *:my-1.5">
        <p class="font-rampart text-2xl text-bleu">{ recette.titre }</p>
        <div class="text-right">
            <p class="text-base">Tps préparation</p>
            <p class="text-bleu font-bold">{ formatHeure(tps) } { checkHeure(tps) ? ("h"):("mins")}</p>
        </div>
        <Button texte={recette.type} />
        <div>
            <p>{ nb_com } avis</p>
            <div class="flex place-items-center justify-around *:mx-1.5 ">
                <ProgressBar note={moyenne} color="beige"/>
                <p>{ moyenne }/5</p>
            </div>
        </div>
    </div>
    <div class="relative h-full">
        <ImgPb
            record={recette}
            image={recette.image}
            alt={`image de ${recette.titre}`}
            classPicture="w-full h-full"
            classImg="w-full h-full object-cover"
        />
        <Heart
            class={`absolute top-2 right-2 size-10 **:stroke-bleu ${isFavorite ? "**:fill-beige": " **:stroke-bleu"
            }`}
        />
    </div>
</a>